(content:PandasvsExcel)=

# Pandas 对比 Excel

> 为了方便长期使用 Excel 的用户转到 Pandas，我将结合官方文档对部分操作进行对比

```{admonition} 在线刷题
:class: seealso

检查 or 强化 `Pandas` 数据分析操作？<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">👉在线体验「Pandas进阶修炼300题」</a>
```


##  数据结构

### 通用术语对比

```{table}
:width: 200px

| pandas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      | Excel  |
| ----------- | ------ |
| DataFrame | 工作表 |
| Series   | 列     |
| Index     | 索引   |
| row         | 行     |
| NaN       | 空值   |

```

### DataFrame

`pandas` 中的 `dataframe` 类似于`Excel` 工作表。虽然一个 `Excel` 工作簿可以包含多个工作表，但通常情况下 `pandas.DataFrame`是独立存在的。

### Series

`Series`是表示 `DataFrame`一列的数据结构。使用 `Series` 类似于引用电子表格中的一列。

### Index

每个 `DataFrame` 和 `Series` 都有一个 `Index`，它是数据行的标签。在`pandas`中，如果没有指定索引，则默认使用RangeIndex(第一行= 0，第二行= 1，等等)，类似于电子表格中的行标题/数字。



在 `pandas` 中，索引可以设置为一个(或多个)惟一值，这就像在工作表中有一列用作行标识符一样。与大多数电子表格不同，这些Index值实际上可以用来引用行。(注意，这可以在Excel的结构化引用中完成。)例如，在电子表格中，您可以引用第一行为 `A1:Z1`，而在 pandas 中，您可以使用`population .loc['Chicago']`。



## 常见操作对比

### 数据读取

#### Excel

Excel读取本地数据需要打开目标文件夹选中该文件并打开

![](https://mmbiz.qpic.cn/mmbiz_gif/2GcSFhuAFlBtFJ5icGS87d9XrWRWhshFmgiammrwwf1KPMuyon5JESMPqvJ7dOqvawgjNAJ4lkZTNnUO993nHBEA/640?wx_fmt=gif&tp=webp&wxfrom=5&wx_lazy=1)

 #### Pandas



Pandas支持读取本地Excel、txt文件，也支持从网页直接读取表格数据，只用一行代码即可，例如读取上述本地Excel数据可以使用`pd.read_excel("示例数据.xlsx")`

In [1]:
import pandas as pd
pd.read_excel("示例数据.xlsx") #将示例数据.xlsx放在该Notebook同一文件夹下

,创建时间,地址,岗位,学历,技能要求,工作经验,薪资水平
0,2020-03-16 12:28:11,广州,数据开发,本科,"['Hive', '数据挖掘', '数据分析']",3-5年,20000.0
1,2020-03-16 12:39:03,广州,数据分析,本科,"['数据分析', '数据库']",1-3年,13000.0
2,2020-03-16 12:01:37,广州,数据分析,本科,"['数据分析', '商业']",应届毕业生,8000.0
3,2020-03-16 11:19:51,广州,数据分析,本科,"['SQL', '数据分析', '数据库']",3-5年,20000.0
4,2020-03-16 11:18:49,广州,数据分析,大专,['数据分析'],1-3年,8000.0
...,...,...,...,...,...,...,...
820,2020-03-16 11:20:44,深圳,数据分析,本科,[],1年以下,11500.0
821,2020-03-16 11:20:42,深圳,数据开发,本科,[],应届毕业生,4500.0
822,2020-03-16 10:33:46,深圳,数据分析,本科,"['BI', '数据分析', 'SQL', '数据库']",3-5年,16500.0
823,2020-03-16 11:20:43,深圳,数据开发,本科,[],不限,11500.0
824,2020-03-16 10:37:24,深圳,数据分析,本科,[],不限,3000.0

### 数据生成


#### Excel


以生成**10\*2的0—1均匀分布随机数矩阵**为例，在Excel中需要使用`rand()`函数生成随机数，并手动拉取指定范围

![](https://mmbiz.qpic.cn/mmbiz_gif/2GcSFhuAFlBtFJ5icGS87d9XrWRWhshFmH7v9mibQIU7Cm7JdAhQLIcPzLnBeG5aBlhZ6U8LOWCibfh5ocCOK1vmQ/640?wx_fmt=gif&tp=webp&wxfrom=5&wx_lazy=1)

#### Pandas


在Pandas中可以结合NumPy生成由指定随机数(均匀分布、正态分布等)生成的矩阵，例如同样生成**10\*2的0—1均匀分布随机数矩阵**为，使用一行代码即可：`pd.DataFrame(np.random.rand(10,2))`

In [2]:
import numpy  as np
pd.DataFrame(np.random.rand(10,2))

          0         1
0  0.707877  0.734127
1  0.388418  0.822934
2  0.231120  0.715326
3  0.452778  0.758992
4  0.297916  0.473018
5  0.533477  0.373415
6  0.270263  0.965171
7  0.805758  0.056766
8  0.656652  0.062285
9  0.289735  0.656668